--swiftversion 6.2
--exclude .build,vendor,Sources/MeshProtos
--indent 4
--maxwidth 110
--wraparguments before-first
--wrapparameters before-first
--commas inline
--self remove
--stripunusedargs closure-only
